body{
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    color: #191d20;
    margin: 0.5;
    padding: 0;
}

h1{
    text-align: center;
    color: #981162;
    font-size: 2.2rem;
}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

form div{
    margin-bottom: 15px;
}

form label{
    display: block;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 97%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

form input:focus, form textarea:focus{
    border-color: #981162;
    outline: none;
}

form button {
    background-color: #981162;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}

form button:hover{
    background-color: #981162;
}

hr{
    border: 1px solid #e1e8ed;
    margin: 20px 0;
}

a{
    color: #981162;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li{
    padding: 15px;
    border: 1px solid #e1e8ed;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 600px;
    box-sizing: border-box;
}

li a{
    margin-right: 10px;
    
}

li strong{
    color: #000000;
}

p{
    font-size: 18px;
    line-height: 1.6;
}

button{
    background-color: #981162;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

button:hover{
    background-color: #981162;
}

footer{
    text-align: center;
    padding: 10px;
    background: #981162;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 250px;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
}

.post .content {
    padding: 8px 10px;
}

.post .username {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.post .caption {
    font-size: 13px;
    line-height: 1.3;
    margin: 4px 0;
}

.post .timestamp {
    font-size: 10px;
    color: #8e8e8e;
    text-transform: uppercase;
    margin-top: 6px;
}

