<!DOCTYPE html>
<html>
<head>
    <title>{{ profile_user.username }} | Instagram</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="{% url 'homeSite' %}" class="logo">Instagram</a>
            <nav class="nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'postSite' %}" class="nav-link">Nowy Post</a>|
                    <a href="{% url 'profileSite' user.username %}" class="nav-link">Profil</a>|
                    <a href="{% url 'logoutSite' %}" class="nav-link">Wyloguj</a>|
                    <a href="{% url 'homeSite' %}" class="nav-link">Powrót</a>
                {% else %}
                    <a href="{% url 'loginSite' %}" class="nav-link">Zaloguj</a>|
                    <a href="{% url 'signupSite' %}" class="nav-link">Stwórz Konto</a>|
                    <a href="{% url 'homeSite' %}" class="nav-link">Powrót</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="profile-header">
            <h1>{{ profile_user.username }}</h1>
            <p>{{ posts.count }} posty</p>
        </div>

        <div class="profile-posts">
            {% for post in posts %}
            <div class="profile-post">
                <img src="{{ post.image.url }}" alt="Post image">
                <div class="profile-post-caption">
                    {{ post.caption }}
                </div>
            </div>
            {% empty %}
            <p>Nie ma tu jeszcze żadnych postów</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>